body {
    background: rgb(0,16,77);
    background: -webkit-linear-gradient(90deg, rgba(0,16,77,1) 0%, rgba(6,48,143,1) 100%);
    background: linear-gradient(90deg, rgba(0,16,77,1) 0%, rgba(6,48,143,1) 100%);
    text-align: center;
    font-family: 'Dosis';
}

@keyframes fade-in {
    0% {opacity: 0;}
    20% {opacity: 0; transform: translateY(-30px);}
    100% {opacity: 1; transform: translateY(0);}
}

#content {
    margin-top: 15vh;
    animation: fade-in 1.5s;
}

#profile {
    width: 15vw;
    border-radius: 100%;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.6);
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: underline dotted;
    color: white;
}

li, p {
    list-style-type: none;
    margin: 5px 20px;
    font-size: 24px;
    text-decoration: none;
    font-weight: 200;
    display: inline-block;
    color: white;
}

h1 {
    font-weight: 400;
    color: white;
    font-size: 60px;
    margin: 10px auto 20px auto;
}

ul {
    padding: 0;
}

@media (orientation: portrait){
    #content {
        margin-top: 20vh;
    }

    h1 {
        font-size: 140px;
        margin-bottom: 40px;
    }

    #profile {
        width: 50%;
    }

    li, p {
        font-size: 50px;
    }
}

@media only screen and (max-width: 760px), only screen and (max-device-width: 760px) {
    .description {
        opacity: 1;
    }
}




