body {
    background-color: black;
}
.day {
    text-align: center;
}

.title {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 8vh;
}

.club-info {
    color: rgb(214, 214, 214);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 4vh;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.club-info:hover {
    color: white;
    text-decoration: none;
}

.club-info:visited {
    text-decoration: none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}


#footer {
    height: 15vh;
}