body {
    text-align: center;
}

#box {
    width: 15vh;
    margin: auto;
    margin-top: 2vh;
    text-align: center;
}

#logo {
    width: 15vh;
}

#content {
    margin:auto;
    text-align: center;
    width: 90vw;
}

.card {
    background-color: black;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 5px 5px 10px #a3a3a3;
}

.cardImg {
    border-radius: 10px;
}
