::-moz-selection{
    background-color:Transparent;
    }

    ::selection {
    background-color:Transparent;
    }

body {
    background-color: white;
    text-align: center;
}

#box {
    width: 40vh;
    height: 35vh;
    margin: auto;
    margin-top: 18vh;
    text-align: center;
    opacity: 1;
}

h1 {
    font-size: 25vh;
    margin: 0;
    margin-top: 1.7vh;
    color: #7AA5D2;
    font-family: 'Bitter';
}

#description {
    width: 440px;
    margin: auto;
    opacity: 1;
}

h2 {
    font-size: 26px;
    color: #243071;
    font-family: 'Dosis';
    font-weight: 200;
}

#logo-box{
    opacity: 0;
    margin-top: -4vh;
}

.circle {
    position: fixed;
    width: 80px;
    height: 80px;
    background-color: #f277c1;
    border-radius: 100%;
    opacity: 0.001;
    top: 0;
    left: 0;
    z-index: -1;
}

img {
    width: 40vh;
}

a:hover {
    color: #f277c1;
}

a {
    text-decoration: none;
    color: #243071;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
}

li {
    margin: 20px;
    margin-top: 5px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Dosis';
    font-weight: 200;
}

ul {
    padding-left: 0;
}






