::-moz-selection{
    background-color:Transparent;
    }

    ::selection {
    background-color:Transparent;
    }

body {
    background-color: white;
    text-align: center;
}

#top {
    height: 100vh;
}

#profile_image {
    position: relative;
    background: linear-gradient(90deg, #243071, #f277c1);
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    width:36vh;
    height:36vh;
    margin: auto;
    margin-top: 8vh;
    text-align: center;
}

#profile_image:after {
    position: absolute;
    display: block;
    top: 1vh;
    left: 1vh;
    width: 34vh;
    height: 34vh;
    opacity: 1;
    content: "";
    background-color: #fff;
    background-image: url("profile_bw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

#description {
    width: 80vw;
    margin: auto;
    margin-top: 8vh;
    opacity: 1;
}
.subtitle {
    font-size: 26px;
    color: #243071;
    font-family: 'Dosis';
    font-weight: 200;
}

#logo-box{
    opacity: 0;
    margin-top: -4vh;
}

.circle {
    position: fixed;
    width: 10vw;
    height: 10vw;
    background-color: #f277c1;
    border-radius: 100%;
    opacity: 0.001;
    top: 0;
    left: 0;
    z-index: -1;
}

img {
}

a:hover {
    color: #f277c1;
}

a {
    text-decoration: none;
    color: #243071;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
}

li {
    margin: 20px;
    margin-top: 5px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Dosis';
    font-weight: 200;
}

ul {
    padding-left: 0;
}


body {
    text-align: center;
    margin: 0
}

#header {
    margin: auto;
}

#box {
    height: 15vh;
    margin: auto;
    margin-top: 2vh;
    text-align: center;
}

#logo {
    width: 15vh;
}

#content {
    margin:auto;
    text-align: center;
    width: 90vw;
}

#projects, #design {
    padding: 25px;
}

.card {
    background-color: black;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 5px 5px 10px #a3a3a3;
    overflow: hidden;
}

.cardImg {
    border-radius: 10px;
    height: 300px;
}

a:hover {
    color: #f277c1;
}

a {
    text-decoration: none;
    color: #243071;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
}

li {
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Dosis';
    font-weight: 200;
}

ul {
    padding-left: 0;
    margin: 0;
}

h2, h4 {
    font-family: 'Dosis';
    font-weight: 400;
    color: white;
}

h4 {
    margin-bottom: 30px;
}

.description {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 260px;
    height: 260px;
    opacity: 0;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    padding: 20px;
}

.description:hover {
    opacity: 1;
}

.button {
    padding: 6px 10px;
    margin: 4px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-family: 'Dosis';
    font-weight: 400; 
    transition: none;
    -webkit-transition: none;
}

.button:hover {
    color: black;
    background-color: white;
}

.wide_card {
    width: 620px;
}

@media (orientation: portrait){
    .subtitle {
        font-size: 75px;
    }
    
    .button {
        font-size: 34px;
        padding: 12px 16px;
        border-width: 4px;
    }
    
    h2 {
        margin-top: 15px;
        margin-bottom: 0;
        font-size: 50px;
    }
    
    h4 {
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 40px;
    }
    
    .card {
        width: 38vw;
        margin: 2vw;
        height: 38vw;
    }

    .project, .wide_card{
        width: 80vw;
    }
    
    .description {
        height: 34vw;
        width: 76vw;
        padding: 2vw;
    }
    
    .cardImg {
        width: 100%;
        height: auto;
    }
    
    #logo {
        width: 120px;
    }
    
    #box {
        height: 120px;
    }
    
    li {
        font-size: 60px;
        margin-top: 15px;
    }

    #profile_image {
        width: 55vw;
        height: 55vw;
        }
    
    #profile_image:after {
        position: absolute;
        display: block;
        top: 1vw;
        left: 1vw;
        width: 53vw;
        height: 53vw;
        opacity: 1;
        content: "";
        background-color: #fff;
        background-image: url("profile_bw.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100%;
    }
}

@media only screen and (max-width: 760px), only screen and (max-device-width: 760px) {
    .description {
        opacity: 1;
    }
}




